
body {
    background-color: #efefef !important;
}

.publish-content {
    margin: 20px 40px 20px 40px !important;
    background-color: white;
    height: 100%;
}

.submit-button {
    float: right;
    margin-bottom: 15px !important;
}



