<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjzhang.community.dao.QuestionMapper">
    <resultMap id="questionModel" type="com.xjzhang.community.entry.dto.QuestionDto">
        <result property="tittle" column="tittle"/>
        <result property="description" column="description"/>
        <result property="createDate" column="create_date"/>
        <result property="lastModifyDate" column="last_modify_date"/>
        <result property="commitCount" column="commit_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="tag" column="tag"/>
        <result property="qid" column="qid"/>
        <association property="user" javaType="com.xjzhang.community.entry.model.User">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="avatarUrl" column="avatar_url"/>
        </association>
    </resultMap>

    <insert id="create" parameterType="com.xjzhang.community.entry.model.Question">
		insert into tb_question
		(tittle, description, create_date, last_modify_date, creator, commit_count, view_count, like_count, tag)
		values
		(#{tittle},#{description},#{createDate},#{lastModifyDate}, #{creator}, #{commitCount}, #{viewCount}, #{likeCount}, #{tag})
	</insert>

    <select id="selectQuestion" resultMap="questionModel">
		select A.id qid, A.tittle, A.description, A.create_date, A.last_modify_date, A.creator, A.commit_count,  A.view_count, A.like_count, A.tag, B.id, B.name, B.avatar_url from tb_question A  left join tb_user B on  A.creator =  B.account_id
	</select>
</mapper>